@page "/create-event"
@attribute [Authorize]
@using System.ComponentModel.DataAnnotations
@using EventCardCopilotApp.Services
@using EventCardCopilotApp.Models
@inject EventNewService eventService

<PageTitle>Create Event</PageTitle>

<h1>Create Event</h1>

<EditForm Model="@eventModel" OnValidSubmit="@HandleValidSubmit">
    <DataAnnotationsValidator />
    

    <div>
        <label for="nome">Nome:</label>
        <InputText id="nome" @bind-Value="@eventModel.EventName" />       
    </div>

    <div>
        <label for="dataInizio">Data Inizio:</label>
        <InputDate id="dataInizio" @bind-Value="@eventModel.EventStart" />
    </div>    
    <div>
        <label for="luogo">Luogo:</label>
        <InputText id="luogo" @bind-Value="@eventModel.Location" />
    </div>  
    <div>
        <label for="prezzo">Prezzo:</label>
        <InputNumber id="prezzo" @bind-Value="@eventModel.Price" />
    </div>    
    
    <div>
        <label for="descrizione">Descrizione:</label>
        <InputTextArea id="descrizione" @bind-Value="@eventModel.Description" />        
    </div>
     <br>
    <div style="height: 100px;">
        @if(String.IsNullOrEmpty(eventModel.Download_url)){
            <br>
            <ImageGallery  OnImageChange="UpdateImage" ></ImageGallery>
        }else{            
            <div class="container-image">
                <img src="@eventModel.Download_url"  @onclick="HandleIconImageClick"  alt="Cover-Event" style="width:100%">            
            </div>                      
        }

       
        
        
   </div> 
    <br>
    <button type="submit" class="btn btn-primary">Crea Evento</button>
    <br><br>
    

    <ValidationSummary />
</EditForm>

@code {
    private void HandleIconImageClick()
    {
        eventModel.Download_url = "";
    }

    private Event eventModel = new Event();

    protected override void OnInitialized()
    {
        // Imposta EventStart alla data di oggi
        eventModel.EventStart = DateTime.Today;
    }
 
     public async Task  HandleValidSubmit()
    { 
        await eventService.AddEventAsync(eventModel);
        Console.WriteLine($"Evento creato: {eventModel.EventName}, {eventModel.Description}");
        eventModel= new Event();
        eventModel.EventStart = DateTime.Today;
    }

    
    private void UpdateImage(string image)
    {
        eventModel.Download_url = image;
    }
}