@page "/event-list"
@attribute [Authorize]
@using EventCardCopilotApp.Models
@using EventCardCopilotApp.Services
@inject EventNewService EventService

<h3>List Event</h3>

@if (events == null)
{
    <p><em>Caricamento...</em></p>
}
else
{
    <div class="row">
        @foreach (var eventItem in events)
        {
            <EventCard EventItem="@eventItem"  />
        }
    </div>
}

<Modal IsVisible="@isModalVisible" IsVisibleChanged="@((value) => isModalVisible = value)">
    @if (!string.IsNullOrEmpty(message))
    {
        <div style="z-index: 1000;" class="alert @alertClass">@message</div>
    }
</Modal>

@code {
    private bool isModalVisible = false;
    private string message = "";
    private string alertClass = "";

    List<Event> events = new();

    protected override async Task OnInitializedAsync()
    {
        events = await EventService.GetEventsAsync();
    }
 
}
